@import './../../styles/common.scss';

.nav_button__normal {
  background-image: linear-gradient(rgb(139, 202, 230), $blue-light);
  border: 1px double $blue-light;
  font-family: $font-main;
  @include font-black-shadow();
  color: $white;
  font-size: 0.9em;
  box-shadow: inset 0 0 2px 0 rgba(255, 255, 255, 0.4),
    inset 0 0 5px 0 rgba(0, 0, 0, 0.4), inset 0 0 5px 5px rgba(0, 0, 0, 0.05),
    2px 2px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  text-align: center;
  padding: .3em .5em;
  margin: 0.1em 0.5em;
  height: 4em;
  width: 4.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_button__control {
  background-image: radial-gradient(rgba(82, 184, 71, 0.92) 60%, #54b948 40%);
  border: 1px double #54b948;
}