@import './../../styles/common.scss';

.nav_button__normal {
  background-image: linear-gradient(rgb(139, 202, 230), $blue-light);
  border: 1px double $blue-light;
  font-family: $font-main;
  color: $white;
  font-size: 0.9em;
  box-shadow: inset 0 0 2px 0 rgba(255, 255, 255, 0.4),
    inset 0 0 5px 0 rgba(0, 0, 0, 0.4), inset 0 0 5px 5px rgba(0, 0, 0, 0.05),
    2px 2px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  text-align: center;
  padding: .3em .5em;
  margin: 0.1em 0.3em;
  height: 4em;
  width: 5.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url("./../../images/hand.png"), auto;
}

.nav_button__control {
  background-image: radial-gradient(rgba(82, 184, 71, 0.92) 60%, #54b948 40%);
  border: 1px double #54b948;
}

@keyframes flashingRed {
  0% {
    color: white;
    text-shadow: 2px 2px 2px black;
  }
  30% {
    color: red;
    text-shadow: 1px 1px 2px black;
  }
  50% {
    color: white;
    text-shadow: 2px 2px 2px black;
  }
}

@keyframes flashingGreen {
  0% {
    color: white;
    text-shadow: 2px 2px 2px black;
  }
  30% {
    color: #54b948;
    text-shadow: 1px 1px 2px black;
  } 
  50% {
    color: white;
    text-shadow: 2px 2px 2px black;
  }
}

.flashing-red {
  animation-name: flashingRed;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 1.4s;
}

.flashing-green {
  animation-name: flashingGreen;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 1.4s;
}

.button-disabled {
  text-shadow: 0;
  opacity: 0.5;
  transition: 0.8s ease;
  -webkit-transition: 0.8s ease;
  -moz-transition: 0.8s ease;
  -ms-transition: 0.8s ease;
  -o-transition: 0.8s ease;
}

.button-enabled {
  text-shadow: 2px 2px 2px black;
  opacity: 1;
  transition: 0.8s ease;
  -webkit-transition: 0.8s ease;
  -moz-transition: 0.8s ease;
  -ms-transition: 0.8s ease;
  -o-transition: 0.8s ease;
}

@media (min-width: 600px) {
  .nav_button__normal {
    font-size: 1.1em;
  }
}

@media (min-width: 1000px) and (min-height: 1000px) {
  .nav_button__normal {
    font-size: 1.6em;
  }
}