@import './../../styles/common.scss';

.choice {
  font-family: $font-main;
  font-size: 0.88em;
  height: 3em;
  border: 1px double #54b948;
  box-shadow: inset 0 0 2px 0 rgba(255, 255, 255, 0.4),
    inset 0 0 5px 0 rgba(0, 0, 0, 0.4), inset 0 0 5px 5px rgba(0, 0, 0, 0.05),
    2px 2px 4px 0 rgba(0, 0, 0, 0.25);
  background-image: radial-gradient(rgba(82, 184, 71, 0.92) 60%, #54b948 40%);
  width: 100%;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  margin: 0.5em 0;
  padding: 0.4em 0.1em 0.5em 0.1em;
  text-align: center;
  cursor: url("./../../images/hand.png"), auto;
}

.choice-active {
  text-shadow: 2px 2px 2px black;
  opacity: 1;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.choice-disable {
  text-shadow: 0;
  opacity: 0.5;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}