.App {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 1em;
  background-color: white;
  border: 1px solid black;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  overflow: hidden;
  background-image: url("./images/background.png");
  background-repeat: repeat;
  background-size: 5em;
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    .header__logo {
      max-width: 700px;
      padding: 0.5em 0;
    }
  }
}