.App {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 1em;
  background-color: white;
  border: 1px solid black;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  overflow: hidden;
  background-image: url("./images/background.png");
  background-repeat: repeat;
  background-size: 5em;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .header,
  .top,
  .bottom {
    display: flex;
    align-items: center;
  }

  .header {
    flex-direction: column;
    .header__logo {
      width: 95%;
      padding-top: 0.5em;
    }
  }
  .top,
  .bottom {
    padding: 0 0.5em;
  }
  .top {
    justify-content: center;
    height: 100%;
  }
  .bottom {
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }
}

@media (min-width: 600px) {
  .App {
    .header {
      max-height: 8em;
    }
    .bottom {
      flex-direction: unset;
    }
  }
}
