*, *::after, *::before {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css?family=Merienda+One&display=swap");

body {
  margin: 0;
  font-size: 16px;
}

html {
  background-color: #ee2c24;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
